.main-section {
  height: em(969, $fz);
  padding: em(60 120 70, $fz) ;
  background:  hsl(220, 43%, 19%) url('../img/main-section/background-img.jpg') 50% 50% no-repeat;
  background-size: cover;

  &__header {
    margin-bottom: em(125, $fz);
  }

  &__content {
    width: em(620, $fz);
  }

  &__title {
    $fz: 70;
    font-size: em($fz, $fz_base);
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: em(50, $fz);
  }

  &__subtitle {
    $fz: 45;
    font-size: em($fz, $fz_base);
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 0%, 100%);
    margin-bottom: em(70, $fz);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: em(120, $fz);
  }

  &__video {
    display: flex;
  }

  &__watch {
    width: em(76, $fz);
    height: em(76, $fz);
    border-radius: 50%;
    margin-right: em(20, $fz);
    background: url('../img/main-section/button-play.png') 50% 50% no-repeat;
  }

  &__report {
    $fz: 16;
    font-family: 'Montserrat', sans-serif;
    font-size: em($fz, $fz_base);
    line-height: em(26, $fz);
    color: hsl(222, 12%, 67%);
    max-width: em(102, $fz);
  }

  &__social {
    margin-bottom: em(46, $fz);
  }

  &__subscription {
    $fz: 14;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: em($fz, $fz_base);
    color: hsl(0, 0%, 100%);
    line-height: em(26, $fz);
    margin-bottom: em(15, $fz);
  }

  &__social {
    max-width: em(220, $fz);
  }

  &__main {
    display: flex;
    align-items: flex-end;
  }

  &__videos {
    display: flex;
    align-items: flex-end;
    flex-basis: calc(100% - #{em(620, $fz)});
    padding-left: em(155, $fz);
    padding-bottom: em(46, $fz);
    min-width: 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: em(160, $fz);
  height: em(35, $fz);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__item {
    $fz: 16;
    font-family: 'Montserrat', sans-serif;
    font-size: em($fz, $fz_base);
    color: hsl(0, 0%, 100%);

    &:not(:last-child) {
      margin-right: em(40, $fz);
    }
  }
}


.socials-icon {
  display: flex;
  justify-content: space-between;

  &__svg {
    height: em(13, $fz);

    &--youtube {
      width: em(23, $fz);
    }

    &--facebook {
      width: em(9, $fz);
    }

    &--twitter {
      width: em(20, $fz);
    }

    &--vk {
      width: em(24, $fz);
    }

    &--theme-light {
      fill: hsl(0, 0%, 100%);
    }

    &--theme-dark {
      fill: hsl(208, 29%, 68%);
    }
  }
}

.video-slide {
  position: relative;
  min-width: em(285, $fz);
  height: em(200, $fz);
  background-image: linear-gradient(360deg, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0) 72.92%);


  &__counter,
  &__name {
    $fz: 18;
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: em($fz, $fz_base);
    font-weight: 700;
    line-height: em(26, $fz);
    color: hsl(0, 0%, 100%);
  }

  &__name {
    max-width: 50%;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: em(16, $fz);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: em(26, $fz);
    height: 100%;
  }
}
